@using Track_Tivate.Models
@model LoginViewModel
@{
    ViewBag.Title = "Log in";
}


<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>
        Trace Tivate
    </title>
    <!-- Specify character encoding for the web pages-->
    <meta charset="utf-8" />
    <!--Set the initial view zooming scale for mobile device to 1-->
    <meta name="viewport" content="width=device-width,initial-scale=1" />
    <!--Reference to Bootstrap CSS,JavaScript/Jquery files-->
    <link href="Content/bootstrap.min.css" rel="stylesheet" />
    <link href="Content/bootstrap-theme.min.css" rel="stylesheet" />
    <script src="Scripts/jquery-1.9.1.min.js"></script>
    <script src="Scripts/bootstrap.min.js"></script>

    <style type="text/css">
        .auto-style1 {
            height: 20px;
        }
    </style>
</head>
<body>
    <form method="post" action="./Account.aspx" id="form1">
        <div class="aspNetHidden">
            <input type="hidden" name="__VIEWSTATE" id="__VIEWSTATE" value="HxNm1AD2SpSRRa0+ZtT7ZPxj7CKS909g3SvfS4z9Dn5C1tBwV06X8GxwcBvhBU4AiigwPObQftam/UPiDXOb0q5Z8yVAMyqTU8QU51c6vqIUE99QqB8/ViKWz7fuGCTN8JPP50Dh9L+jN2qT8+A0zEdY0vAFZ4tL3RSo5amiB7wfaxlU0ts+0JWDBAS67Q48v+S+T1F4RG1MyY7auRbda0+b8h2jp5c3v7K9iXjDHoMImPL7qqnPA1FIb4GX8ThF/1PvddbXN9RVZuD3bR+M/3oQpQOU7ujn10iMUqAPmpezJ5IMS9Dt6vSq77a7spwc0xN1b2HgiBwzTDJZjU9pGLLoU+w3bImpkBft/Hnd/CUQPQ+GWE16n944LiomKmlbGFuO50vne9rWxezQT7pNdl+HBCcTwr3sgTrmvatpaSr6GzZtqBs5dHi0kvLeLcysZutPppKo2rPd+NmKceYtYO7hDSzY5vE0xRhI5LS8LvbV6zv+HRhQSrGhbzDMx4QVg4trQEap1PoH8IFKSNiBFenIKMmGMJ7O1fnT4oRbJfg=" />
        </div>

        <!--bootstrap container,centralize the container between margins-->
        <div class="container" style="margin:auto;">
            <!--1st row-->
            <div class="row">
                <div class="col-sm-12">


                    <nav class="navbar navbar-default">
                        <div>
                            <!--navbar wrapper-->
                            <div class="navbar-header">
                                <!--Navbar to be displayed as a hamburger button when collapsed-->
                                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#staffNavbar">
                                    <span class="icon-bar"></span>
                                    <span class="icon-bar"></span>
                                    <span class="icon-bar"></span>
                                </button>
                                <!--The brand(or icon) of the navbar, will always be displayed-->
                                <a class="navbar-brand" href="/"
                                   style="font-size:36px; font-weight:bold; color:#3399FF;">
                                    Trace Tivate
                                </a>
                            </div>
                            <div class="collapse navbar-collapse" id="staffNavbar">
                                <!--links in the navbar,-->
                                <!-- will be displayed as drop down list when collapsed-->
                                <ul class="nav navbar-nav">
                                    <li><a href="/Home/Explore">Explore</a></li>
                                    <li><a href="/Home/Payment">Payment</a></li>
                                    <li><a href="/Home/Account">Account</a></li>
                                    <li><a href="/Home/Promotion">Promotion</a></li>
                                    <li><a href="/Home/Emergency">Emergency</a></li>

                                </ul>
                                @Html.Partial("_LoginPartial")


                            </div>

                        </div>
                    </nav>

                </div>
            </div>
        </div>
    </form>
    <div class="row">
        <div class="col-md-8">
            <h1>Login Here</h1>
            <section id="loginForm">
                @using (Html.BeginForm("Login", "Account", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
                {
                    @Html.AntiForgeryToken()
                            <hr />
                            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                            <div class="form-group">
                                @Html.LabelFor(m => m.Email, new { @class = "col-md-2 control-label" })
                                <div class="col-md-10">
                                    @Html.TextBoxFor(m => m.Email, new { @class = "form-control" })
                                    @Html.ValidationMessageFor(m => m.Email, "", new { @class = "text-danger" })
                                </div>
                            </div>
                            <div class="form-group">
                                @Html.LabelFor(m => m.Password, new { @class = "col-md-2 control-label" })
                                <div class="col-md-10">
                                    @Html.PasswordFor(m => m.Password, new { @class = "form-control" })
                                    @Html.ValidationMessageFor(m => m.Password, "", new { @class = "text-danger" })
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-md-offset-2 col-md-10">
                                    <div class="checkbox">
                                        @Html.CheckBoxFor(m => m.RememberMe)
                                        @Html.LabelFor(m => m.RememberMe)
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-md-offset-2 col-md-10">
                                    <input type="submit" value="Log in" class="btn btn-default" />
                                </div>
                            </div>
                            <p>
                                @Html.ActionLink("Register as a new user", "Register")
                            </p>
                            @* Enable this once you have account confirmation enabled for password reset functionality
                                <p>
                                    @Html.ActionLink("Forgot your password?", "ForgotPassword")
                                </p>*@
                }
            </section>
        </div>
    </div>

    @section Scripts {
        @Scripts.Render("~/bundles/jqueryval")
    }
</body>